:root {
  --bs-primary: #4752B5;
  --bs-secondary: #6B84FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: calc(100vh - 0rem);
  display: flex;
  flex-direction: column;
}

// Overrides
.container-fluid {
  padding: 1rem 1.5rem
}
